@model SurveyConfiguratorApp.Domain.Questions.QuestionSlider


@using (Html.BeginForm("Create", "QuestionSlider", FormMethod.Post))
{ 
<div class="row mb-3">
    @Html.Partial("Questions/_Create", Model)
    <div class="col-6">
        @Html.LabelFor(model => model.StartValue, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.StartValue, new { @class = "form-control" })
    </div>
    <div class="col-6">
        @Html.LabelFor(model => model.EndValue, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.EndValue, new { @class = "form-control" })

    </div>

    <div class="col-6">
        @Html.LabelFor(model => model.StartCaption, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.StartCaption, new { @class = "form-control" })
    </div>
    <div class="col-6">
        @Html.LabelFor(model => model.EndCaption, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.EndCaption, new { @class = "form-control" })

    </div>

</div>
<div class="row w-100 text-center justify-content-center">
    <input type="submit" value="Save" class="btn btn-primary col-md-12 col-12 text-center" />
</div>
}
