@model SurveyConfiguratorApp.Domain.Questions.Question
<div>
    <div>
        @Html.LabelFor(model => model.Text)
        @Html.TextAreaFor(model => model.Text, new { @class = "md-textarea form-control" })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>


    <div class="mb-3">
        @Html.LabelFor(model => model.Order, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Order, new { @class = "form-control", type = "number", min = "1", max = "100" })
        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(model => model.TypeName)
</div>
