@model SurveyConfiguratorApp.Logic.DbManager
@using SurveyConfiguratorWeb.Models
@using SurveyConfiguratorWeb.Languages
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ConfigForm",@dir="auto" ,@class="h-100" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal py-4 row px-2 my-md-5 my-3 justify-content-between bg-white shadow rounded-2 mx-1 mx-lg-0 h-100 justify-content-center align-items-center" dir="auto">
        <h4> @Language.DB_CONNECTION</h4>
        <hr />
        <div class="my-1 col-12" dir="auto">
            <label for="@nameof(Model.Server)">@Language.SERVER</label>
            @Html.TextBoxFor(model => model.Server, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Server, "", new { @class = "text-danger" })
        </div>


        <div class="my-1 col-12" dir="auto">

            <label for="@nameof(Model.Database)">@Language.DATABASE</label>
            @Html.TextBoxFor(model => model.Database, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Database, "", new { @class = "text-danger" })
        </div>

        <div class="my-1 col-12" dir="auto">

            <label for="@nameof(Model.Username)">@Language.USER_NAME</label>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="my-1 col-12" dir="auto">

            <label for="@nameof(Model.Password)">@Language.PASSWORD</label>
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-2 my-sm-1 my-0">
                <input type="button" value=" @Language.SAVE" class="btn btn-primary w-100 d-block" onclick="HandleSaveConnection()" />
            </div>
           
        </div>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="ConfirmSave" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title " id="exampleModalLabel">@Language.CONFIRM</h5>
                @*<button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">
                <div id="modelText" class="d-block">
                    <p>
                        @Language.SAVE_CONNECTION_FAILED
                    </p>

                </div>

                <div class="spinner-border text-primary d-none justify-content-center " role="status" id="loadSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> @Language.CANCEL</button>
                <button type="button" class="btn btn-primary" id="btnConfirmDelete" onclick="SaveConnection()"> @Language.SAVE</button>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script>
        const ConfirmModal = new bootstrap.Modal(document.getElementById('ConfirmSave'), {});

        const HandleSaveConnection = async () => {
            try {

                const tUrlTest = "/@Routes.DB_CONNECTION_TEST";
                var formData = new FormData(document.getElementById('ConfigForm'));
                ShowOverlay();
                const tResponse = await fetch(tUrlTest, {
                    method: "POST",
                    body: formData,
                })
                const tData = await tResponse.json();
               await HideOverlay();
                HandleFlashConnectionMsg(tData);

               
                if (!tData?.Success) {
                    ConfirmModal.show();
                }
            } catch (e) {
                ErrorFlash("@Language.DB_FAILED_NERORK_CONNECTION")
            }

        }

        const SaveConnection = async() => {
            try {
                ConfirmModal.hide();
                const tUrlSave = "/@Routes.DB_CONNECTION_CREATE";

                var formData = new FormData(document.getElementById('ConfigForm'));
                ShowOverlay();

                const tResponse = await fetch(tUrlSave, {
                    method: "POST",
                    body: formData,
                });

                const tData = await tResponse.json();
                HideOverlay()

                HandleFlashConnectionMsg(tData);
            } catch (e) {
                ErrorFlash("@Language.DB_FAILED_NERORK_CONNECTION")

            }
        }

        const HandleFlashConnectionMsg = (data) => {
            if (data?.Success) {
                SuccessFlash("@Language.SAVE_SUCCESSFULLY");
            }
            else if (!data?.Success) {
                ErrorFlash("@Language.SAVE_FAILED");
            }
            else if (data?.Error){
                ErrorFlash("@Language.DB_FAILED_NERORK_CONNECTION")
            }
        }
    </script>

}
