@using SurveyConfiguratorApp.Domain.Questions
@{
    ViewBag.Title = "Create";
}
<div class="my-3">
    <h2>Create Question</h2>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Question Type</label>
      
        <select class="form-select" id="inputGroupSelect01">
            <option selected disabled>Choose...</option>
            @foreach (Question.QuestionTypes type in Enum.GetValues(typeof(Question.QuestionTypes)))
            {
                 <option value="@type">@type</option>
            }
            
        </select>
    </div>
    </div>

        <div id="questionFacesPartial" style="display: none">
            @Html.Partial("Questions/_CreateQuestionFaces")
        </div>

        <div id="questionStarsPartial" style="display: none">
            @Html.Partial("Questions/_CreateQuestionStars")
        </div>
        <div id="questionSliderPartial" style="display: none">
            @Html.Partial("Questions/_CreateQuestionSlider", new QuestionSlider())
        </div>

 
@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var selectElement = document.getElementById('inputGroupSelect01');
            var questionFacesPartial = document.getElementById('questionFacesPartial');
            var questionStarsPartial = document.getElementById('questionStarsPartial');
            var questionSliderPartial = document.getElementById('questionSliderPartial');

           

            selectElement.addEventListener('change', function () {
                questionSliderPartial.style.display = 'none';
                questionFacesPartial.style.display = 'none';
                questionStarsPartial.style.display = 'none';
                var selectedValue = selectElement.value;
                switch (selectedValue) {
                    case "@Question.QuestionTypes.FACES":
                        questionFacesPartial.style.display = 'block';
                        break;
                    case "@Question.QuestionTypes.STARS":
                        questionStarsPartial.style.display = 'block';
                        break;
                    case "@Question.QuestionTypes.SLIDER":
                        questionSliderPartial.style.display = 'block';
                        break;
                    default:
                }
               
            });
        });
    </script>
}


