@model SurveyConfiguratorApp.Domain.Questions.Question
@using SurveyConfiguratorWeb.Languages
<div>
    <div class="my-2 ">
        <div class="input-group ">
            <label for="@nameof(Model.Text)" class="input-group-text side-form-label"> @Language.TEXT</label>
            @Html.TextAreaFor(model => model.Text, new { @class = "md-textarea form-control", onkeydown = "CheckText(this);", onkeyup = "CheckText(this);" })
        </div>

        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger mb-2",id= "errorTextLabelBE" })
        <small class="text-danger" id="errorTextLabel"></small>


    </div>


    <div class="my-2 ">
        <div class="input-group">
            <label for="@nameof(Model.Order)" class="input-group-text side-form-label"> @Language.ORDER</label>
            @Html.TextBoxFor(model => model.Order, new { @class = "form-control", type = "number", min = "1", max = "100", onkeydown = "CheckOrderNumber(this);", onkeyup = "CheckOrderNumber(this);" })
        </div>
        <small class="text-danger" id="errorOrderLabel"></small>
        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger mb-2",id= "errorOrderLabelBE" })
    </div>

   
</div>
@section scripts{
    
    
    
    }
<script>


    function CheckText(input) {
        try {
            const errorTextLabelBE = document.getElementById("errorTextLabelBE");
            let tInputValue = (input.value);
            const tErrorLabel = document.getElementById("errorTextLabel");
            let tTextLength = tInputValue.trim().length;
            isValidText = false;
            if (tInputValue == null || tTextLength == 0) {
                tErrorLabel.innerHTML = "@Language.VALIDATION_ERROR_QUESTION_TEXT";
            }

            else if (tTextLength < QUESTION_TEXT_MIN_LENGTH) {
                tErrorLabel.innerHTML = "@Language.VALIDATION_ERROR_SHORT_TEXT";
             }
            else if (tTextLength > QUESTION_TEXT_MAX_LENGTH) {
                tErrorLabel.innerHTML = "@Language.VALIDATION_ERROR_LONG_TEXT";
            }
            else {
                tErrorLabel.innerHTML = null;
                isValidText = true;
            }


            //handle border
            if (isValidText) {

                HandleBorderInput(input, true);
            }
            else {
                errorTextLabelBE.style.display = 'none';
                HandleBorderInput(input, false);
            }
        } catch (e) {

        }
    }
    function CheckOrderNumber(input) {
        try {

            const errorOrderLabelBE = document.getElementById("errorOrderLabelBE");

            let tInputValue = input.value;
            const tErrorLabel = document.getElementById("errorOrderLabel");

            isValidOrder = false;
            if (isNaN(tInputValue)) {
                tErrorLabel.innerHTML = "@Language.NOT_NUMBER";
            }
            tInputValue = parseInt(tInputValue);

            if (tInputValue < QUESTION_ORDER_MIN_VALUE) {
                tErrorLabel.innerHTML = "@Language.VALIDATION_ERROR_ORDER_MIN";

            }
            else if (tInputValue > QUESTION_ORDER_MAX_VALUE) {
                tErrorLabel.innerHTML = "@Language.VALIDATION_ERROR_ORDER_MAX"
            }
            else if (input == null || input.value.trim().length == 0) {
                tErrorLabel.innerHTML = "@Language.REQUIRED";
            }
            else {
                isValidOrder = true;
                tErrorLabel.innerHTML = null
            }

            //handle border
            if (isValidOrder) {
                HandleBorderInput(input, true);
            }
            else {
                errorOrderLabelBE.style.display = "none";
                HandleBorderInput(input, false);
            }
        } catch (e) {
            console.error(e);
        }
    }




</script>

