@using SurveyConfiguratorWeb.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
</head>
<body>
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink(linkText: "Survey Configurator",actionName: Routes.INDEX,controllerName: Routes.QUESTION,routeValues: new { area = "" }, htmlAttributes: new { @class = "navbar-brand" })

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            @Html.ActionLink(linkText: "Home", actionName: Routes.INDEX, controllerName: Routes.QUESTION, htmlAttributes: new { @class = "nav-link active" }, routeValues: null)
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(linkText: "Create", actionName: Routes.CREATE, controllerName: Routes.QUESTION, htmlAttributes: new { @class = "nav-link" }, routeValues: null)
                        </li>

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Language</a></li>
                                <li>
                                @Html.ActionLink(linkText:"DB Connection",actionName:Routes.CREATE,controllerName:Routes.DB_CONNECTION,htmlAttributes:new { @class = "dropdown-item" },routeValues:null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Survey Configurator</p>
            </footer>
        </div>
    </main>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
