@model SurveyConfiguratorApp.Domain.Questions.QuestionFaces
@using SurveyConfiguratorWeb.Languages
@using SurveyConfiguratorWeb.Models
<div class="my-3">
    <h4>@Language.QUESTION_FACES</h4>
    <hr />
    <div class="row" dir="auto">
        <div class="col-12 row">
            <div class="col-md-2">
                <p class="fw-bold">
                    @Language.TEXT
                </p>

            </div>
            <div class="col-md-10">
                <p>
                    @Html.DisplayFor(model => model.Text)
                </p>
            </div>
        </div>

       
        <div class="col-12 row">
            <div class="col-md-2">
                <p class="fw-bold">
                    @Language.ORDER
                </p>

            </div>
            <div class="col-md-10">
                <p>
                    @Html.DisplayFor(model => model.Order)
                </p>
            </div>
        </div>


        <div class="col-12 row">
            <div class="col-md-2">
                <p class="fw-bold">
                    @Language.FACES_NUMBER
                </p>

            </div>
            <div class="col-md-10">
                <p>
                    @Html.DisplayFor(model => model.FacesNumber)
                </p>
            </div>
        </div>
 
    </div>
   
</div>
<p>
    @Html.ActionLink(Language.EDIT, Routes.EDIT, new { id = Model.Id }) |
    @Html.Partial(Routes.PATH_BACK_TO_LIST_FILE)
</p>
