@model SurveyConfiguratorApp.Domain.Questions.QuestionStars
@using SurveyConfiguratorWeb.Models
@using SurveyConfiguratorWeb.Languages
<div class="my-3">
    <h4> @Language.QUESTION_STARS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Language.TEXT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>


        <dt>
            @Language.ORDER
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Language.STARS_NUMBER
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarsNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.Partial("Questions/_BackToList")
</p>
