@model SurveyConfiguratorApp.Domain.Questions.QuestionStars
@using SurveyConfiguratorWeb.Languages
@using SurveyConfiguratorWeb.Models

<div class="shadow border p-2 rounded-2 my-3 my-md-5 bg-white">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal" dir="auto">
        <h4>@Language.QUESTION_STARS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.Partial(Routes.PATH_QUESTION_CRAETE_FILE, Model)

        @Html.Partial(Routes.PATH_QUESTION_STARS_CRAETE_FILE, Model)
    </div>
    }

    <div>
        @Html.Partial(Routes.PATH_BACK_TO_LIST_FILE)
    </div>
</div>

<script src="~/Scripts/Question/QuestionValidation.js"></script>
