@model SurveyConfiguratorApp.Domain.Questions.QuestionSlider
@using SurveyConfiguratorWeb.Languages
@using SurveyConfiguratorWeb.Models
<div class="my-3">
    <h4>@Language.QUESTION_SLIDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Language.TEXT
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>


        <dt>
            @Language.ORDER
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Language.START_VALUE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartValue)
        </dd>

        <dt>
            @Language.END_VALUE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndValue)
        </dd>

        <dt>
            @Language.START_CAPTION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartCaption)
        </dd>

        <dt>
            @Language.END_CAPTION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndCaption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Language.EDIT, Routes.EDIT, new { id = Model.Id }) |
    @Html.Partial(Routes.PATH_BACK_TO_LIST_FILE)
</p>
